*{
  box-sizing: border-box;
}
.clearfix:after{
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.clear{
	clear: both;
}
.alignright{
	float: right;
	padding: 0 0 10px 10px;
}
.alignleft{
	float: left;
	padding: 0 10px 10px 0;
}
body{
  color: #888;
  font-size: 12px;
  line-height: 1.4;
  font-family: Helvetica, Arial, sans-serif;
  background-color: #000;
}
main{
  width:90%;
  margin: auto;
  text-align: left;
}
h1{
  text-align: center;
}
.hidden{
  display: none;
}
img{
  display: block;
  width: 60%;
  margin: auto;
}
